{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    {% block content %}
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-2 offset-md-10">
                    <a href="/blog/new" role="button" class="btn btn-success">Create post</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                <ul class="list-unstyled">
                    {% for post in posts %}
                        <li class="media">
                            <img src="..." class="mr-3" alt="...">
                            <div class="media-body">
                                <a href="/blog/{{ post.id }}">{{ post.title }}</a>
                                <p>{{ post.content }}</p>
                                <span>{{ post.user.username }}</span>
                            </div>
                            <a href="{{ path('blog_update', { 'id': post.id }) }}">Update</a>
                            <a href="{{ path('blog_delete', { 'id': post.id }) }}">Delete</a>
                        </li>
                        <hr>
                    {% endfor %}
                </ul>
                </div>
            </div>

            <hr>

        </div> <!-- /container -->
    {% endblock %}
{% endblock %}
